*button {
  height: 40px;
  width: 200px;
  margin: 20px;
  border-color: transparent;
  border-radius: 3px;

  &:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
  }
}

.button-submit {
  background-color: black;
  color: white;
}

.button-google {
  background-color: #039be5;
  color: white;
}
