.cart-dropdown-container {
  position: absolute;
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 75px;
  right: 40px;
  z-index: 5;
  align-items: center;

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin: 0px;
    margin-top: auto;
  }
}
